/*COLORS*/

$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;
$color_back_1: #eaeaea;
$color_back_2: #f6f6f6;
$color_back_3: #353535;
$color_back_hover: #f5edff;

/*SHADOWS*/

$Shadow: 5px 5px 5px 0px #e2e2e2;